<!DOCTYPE html>
<html lang='en'>
<head>
<!--meta data-->
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width' initial scale='1' shrink-to-fit='no'>
<meta name="description" content=" ">
<meta name="author" content="Samuel Okediya">
<meta name="keywords" content=" ">

<!--External Links-->
<link href='/static/houseme.css' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/static/css/bootstrap.css' type=text/css> 
<link href='/static/fontawesome/css/all.min.css' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/static/animate.min.css' type=text/css> 
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari&family=EB+Garamond:ital@1&display=swap" rel="stylesheet">
<title>Houseme</title>

</head>

<body>

<!--logo-->
<header>
	<div class='container-fluid px-0'>
		<div class='row'>
			<div class='col-4 offset-5 offset-md-5' id='logospace'>
				<div class=''><a href='{{ url_for('homepage') }}'><img src='/static/images/houseme.png' alt='logo' class='img-fluid' id='toplogo'></a></div>
			</div>
			<div class='col-2 offset-1 offset-md-1 mt-3'>
					<a href='#' class='socialmedia2'><i class="fa-brands fa-facebook-square socialmedia fa-lg"></i></a>
					<a href='#' class='socialmedia2'><i class="fa-brands fa-twitter-square socialmedia fa-lg"></i></a>
					<a href='#' class='socialmedia2'><i class="fa-brands fa-instagram-square socialmedia fa-lg"></i></a>
					<a href='#' class='socialmedia2'><i class="fa-brands fa-linkedin socialmedia fa-lg"></i></a>
			</div>
		</div>






<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <img src="/static/images/err4042.png" alt="error image" width="600px" height="300px" class="img-fluid">
            <p class="lead">
                The page you’re looking for doesn’t exist.
              </p>
            <a href="{{url_for('homepage')}}" class="btn btn-light">Go Home</a>
        </div>
    </div>
</body>
</html>
