<!DOCTYPE html>
<html lang='en'>
<head>
<!--meta data-->
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width' initial scale='1' shrink-to-fit='0'>
<meta name="description" content=" ">
<meta name="author" content="Samuel Okediya">
<meta name="keywords" content=" ">

<!--Links-->
<link href='houseme.css' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='css/bootstrap.css' type=text/css> 
<link href='fontawesome/css/all.min.css' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='animate.min.css' type=text/css> 
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<title>Houseme login profile</title>
</head>

<!--Login profile select-->
<body>
   <div class='container-fluid px-0'>
    <div class='row'>
        <div class='col-6 px-0' id='loginprofilebg'>
          <div class='px-0' id='loginprofileoverlay'>
            <p class='col-6 offset-3'> <i class="fa-solid fa-house-user"></i> Discover a place you'll love to live</p>
          </div>
        </div>
        <div class='col-6' id='loginprofileselect'>
          <img src='images/houseme.png' height='65px' width='15%' alt='logo' class='offset-5'>
          <h5 align='center' class='mt-5'>Please choose your profile</h5>
          <p align='center'>This would help us customize your experience on our platform, with a dashboard designed for your role.</p>
          <div class='col 3 offset-4'>
          <button type="button" class="btn btn-outline-light mt-5 ms-3">Customer</button>
          <button type="button" class="btn btn-outline-light mt-5 ms-3">Property Owner</button>
          </div>
        </div>
    </div>
    <div class='row'>
      <div class='col'>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class='col-6 px-0' id='loginprofilebg'>
                      <div class='px-0' id='loginprofileoverlay'>
                        <p class='col-6 offset-3'> <i class="fa-solid fa-house-user"></i> Discover a place you'll love to live</p>
                      </div>
                    </div>
                    <div class='col-6' id='loginprofileselect'>
                      <img src='images/houseme.png' height='65px' width='15%' alt='logo' class='offset-5'>
                      <h5 align='center' class='mt-5'>Please choose your profile</h5>
                      <p align='center'>This would help us customize your experience on our platform, with a dashboard designed for your role.</p>
                      <div class='col 3 offset-4'>
                      <button type="button" class="btn btn-outline-secondary mt-5 ms-3">Customer</button>
                      <button type="button" class="btn btn-outline-primary mt-5 ms-3">Property Owner</button>
                      </div>
                    </div>
                </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Understood</button>
             </div>
      </div>
  </div>
</div>
      </div>
    </div>
  </div>
<script src='jquery.min.js'></script>
<script type='text/javascript' src='houseme.js' language='javascript'></script>
<script type='text/javascript' src='js/bootstrap.bundle.min.js' language='javascript'>


</script>
</body>
</html>