<!DOCTYPE html>
<html lang='en'>
<head>
<!--meta data-->
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width' initial scale='1' shrink-to-fit='0'>
<meta name="description" content=" ">
<meta name="author" content="Samuel Okediya">
<meta name="keywords" content=" ">

<!--Links-->
<link href='/static/houseme.css' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/static/css/bootstrap.css' type=text/css> 
<link href='/static/fontawesome/css/all.min.css' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/static/animate.min.css' type=text/css> 
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<title>Houseme Property owner login</title>
</head>

<!--Login form-->
<body>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col' id='navdiv'>
					<nav class="navbar navbar-expand-lg navbar" id='navbar'>
 			  <div class="container-fluid">
    			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id='navtoggle'>
      		<span class="navbar-toggler-icon"></span>
    			</button>
    		<div class="collapse navbar-collapse" id="navbarSupportedContent">
      	<ul class="navbar-nav me-auto mb-2 mb-lg-0" id='nav-items'>
        		<li class="nav-item">
          		<a class="nav-link menuitem" aria-current="page" href="{{ url_for('homepage') }}"><i class="fa-solid fa-house"></i> Home</a>
        		</li>
        		<li class="nav-item">
          		<a class="nav-link menuitem" href="{{ url_for('property') }}">Properties</a>
        		</li>
         		<li class="nav-item">
          		<a class="nav-link menuitem" href="{{ url_for('aboutus') }}">About us</a>
        		</li>
         		<li class="nav-item">
          		<a class="nav-link menuitem" href="{{ url_for('contactus') }}">Contact</a>
        		</li>
    		</div>
		</nav>
	</div>

			</div>
		</div>
	</div>
   <div class='container-fluid px-0'>
    <div class='row'>
        <div class='col-6 px-0  mt-5' id='loginpagebg'>
          <div class='px-0' id='loginpageoverlay'>
            <p class='col-6 offset-3'> <i class="fa-solid fa-house-user"></i> Discover a place you'll love to live</p>
          </div>
        </div>
        <div class='col-12 col-md-6 mt-5' id='loginform'>
          <img src='/static/images/houseme.png' height='65px' width='15%' alt='logo' class='offset-5'>
          <h5 align='center' class='mt-3'><i class="fa-solid fa-face-smile"></i> Welcome back</h5>
          <p align='center'>Login to continue</p>
          <div class='col-10 offset-1'>
          	<form action="{{ url_for('validatepownerlogin') }}"  method='post'>
								{% set m = get_flashed_messages() %}
								{% if m %}
								{% for i in m %}
								{% if i == "Signup successful, please login below" %}
								<p class='alert alert-success'>{{ i }}</p>
								{% else %}
								<p class='alert alert-danger'>{{ i }}</p>
								{% endif %}
								{% endfor %}
								{% endif %}
				  			  <!--{csrf_token}-->
							  <input type='hidden' name='csrf_token' value="{{ csrf_token() }}"> 
							  <div class="form-group">
							    <label for="email">Email address:</label>
							    <input type="email" class="form-control" id="email" name="powneremail">
							  </div>
							  <div class="form-group">
							    <label for="pwd" class='mt-3'>Password:</label>
							    <input type="password" class="form-control" id="pwd" name="pownerpwd">
							  </div>
							  <div class="checkbox mt-2">
							    <label><input type="checkbox"> Remember me</label>
							  </div>
							  <button type="submit" class="btn btn-outline-light btn-sm mt-3 col-5 offset-4">Login</button>
						</form>
						<p class='mt-2'>Don't have an account? <a href='{{url_for('propertyownersignup')}}'>Register</a></p>
						<p class='mt-5'><a href='#'>Forgot password</a></p>
          </div>
        </div>
    </div>
  </div>
  <script src='/static/jquery.min.js'></script>
  <script type='text/javascript' src='/static/houseme.js' language='javascript'></script>
  <script type='text/javascript' src='/static/js/bootstrap.bundle.min.js' language='javascript'></script>
</body>
</html>