<!DOCTYPE html>
<html lang='en'>
<head>
<!--meta data-->
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width' initial scale='1' shrink-to-fit='0'>
<meta name="description" content=" ">
<meta name="author" content="Samuel Okediya">
<meta name="keywords" content=" ">

<!--Links-->
<link href='houseme.css' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='css/bootstrap.css' type=text/css> 
<link href='fontawesome/css/all.min.css' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='animate.min.css' type=text/css> 
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<title>Houseme signup profile</title>
</head>

<!--Signup profile select-->
<body>
   <div class='container-fluid px-0'>
    <div class='row'>
        <div class='col-6 px-0' id='signupprofilebg'>
          <div class='px-0' id='signupprofileoverlay'>
            <p class='col-6 offset-3'> <i class="fa-solid fa-house-user"></i> Discover a place you'll love to live</p>
          </div>
        </div>
        <div class='col-6' id='signupprofileselect'>
          <img src='images/houseme.png' height='65px' width='15%' alt='logo' class='offset-5'>
          <h5 align='center' class='mt-5'>Please choose your profile</h5>
          <p align='center'>This would help us customize your experience on our platform, with a dashboard designed for your role.</p>
          <div class='col 3 offset-4'>
          <button type="button" class="btn btn-outline-secondary mt-5 ms-3">Customer</button>
          <button type="button" class="btn btn-outline-primary mt-5 ms-3">Property Owner</button>
          </div>
        </div>
    </div>
  </div>
<script src='jquery.min.js'></script>
<script type='text/javascript' src='houseme.js' language='javascript'></script>
<script type='text/javascript' src='js/bootstrap.bundle.min.js' language='javascript'>


</script>
</body>
</html>